[Desktop Entry]
Encoding=UTF-8
Name=Atalho para ASCII HTML Codes - HTML Special Characters in the ASCII Set
Type=Link
URL=http://webdesign.about.com/od/localization/l/blhtmlcodes-ascii.htm
Icon=gnome-fs-bookmark
